# Classification practice

#### Data preparation
- Download the data, read it with pandas
- Look at the data
- Mkae column names and values look uniform
- Check if all the columns read correctly
- check if the columns read correctly
- Check if the churn variable needs any preparation

3.3 Setting up validation framework using sklearn.

# EDA
- Check missing values
- Look at the target variable (churn
- Look at numerical

In [2]:
from sklearn.model_selection import train_test_split

In [ ]:
df_full_train,df_test =train_test_split(df, test_size =0.2, random_state=1)

3.5

1. Difference
global-group
< O more likely to churn
> 0 less likely to churn
    
If  churn rate of a group is greater > 0 thery're less 
likely to churn

<0 more likely to churn

Risk ratio:
> 1 more likely to churn
< less likely to churn
risk = group/gloabal

calculating the global churn rate and group churn rate to get the risk and diff churn rate

df_group = df_full_train.groupby(gender').churn.agg(['mean'], 'count')

The agg method help calculate the mean and count put it in a seprate colunm
df_group["diff"] = df_group["mean"] - global_churn
df_group["risk] = df_group["mean"] / global_churn
To get for other columns which are object use a for loop

#### Feature importance : Mutual Information
- - Mutual information(MI) - it tells us how much we can learn about one variable if we know the value of another.

- It is also way to measure the importance of a feature

In [ ]:
# MI forlumala look it up
from sklearn.metrics import mutual_info_score 

mutaual_info_score(df_full.churn, df_full_train_contract)

3.7
#### Feature importancce : Correlation

- Correlation coefficient

- - This is a way to learn or know the importance of numerical feature(s)/column(s)

    -1 <= r <= 1
    Positive more tenure => higher churn
    negative Less tenure => less churn
    Zero  no effect on churn
    if the correlation result is -ve it shows the higher the feature/column's value the lower the churn rate and vice versa

In [ ]:
df_full_train[numerical].corrwith(df_full_train.churn)
# corrwith method to calculate the correlation

#### One-hot encoding
- Use Sckit-learn for the one-hot encoding
3.8

#### logistic Regression
g(xi)=yi
g - model
xi - feature
yi - target / prediction

- Logistic regression is a binary classification
###### Type of classification
- > Binary classification
- > Multiclass classification

The difference between Linear regression and binary classification(logistic regression)
- logistic output 0 or 1
- linear output real number(eR)
- logistic use signoid
- sigmoid formula
- > def sigmoid(z):
     return 1/ (1 + np.exp(-z))

#### 3.10 Training logistics regression with scikit-learn 
- Train a model with Scikit-Learn
- Apply it to the validation dataset
- Calculate the accuracy

<!-- training a model woth scikit-learn   -->
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fix(X_train, y_train)

### wk4 Evaluation Metrics
##### 4.2 Accuracy and dummy model
- Evaluate the model on different thresholds
- check the accuracy of the dummy baselines

form sklearn.metric import accuracy_score

##### 4.3 Confusion table
##### 4.4 Precision & Recall
- accuracy can be misleading in a case where we have class inbalance

##### 4.5  ROC curves
##### 4.5b Plotting ROC curves with Scikit-learn
- From sckilearn.metrics import roc_curve
- 
##### 4.6 Area under the ROC curve (AUC)
- From sckilearn.metrics import auc

In [3]:
import pandas as pd

In [6]:
df = pd.read_csv('bank-full.csv', sep=";")
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [10]:
df['campaign'].head(15)

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
Name: campaign, dtype: int64